.logo {
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.192;
  }
}