body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--white-color);
}

.section {
  // @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  // }

  // @media screen and (min-width: 768px) {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: $mobile;
    // background-color: red;
  }
  
  @media screen and (min-width: $tablet) {
    width: $tablet;
    // background-color: green;
  }
  
  @media screen and (min-width: $desktop) {
    width: $desktop;
    // background-color: blue;
  }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}