.hero {
  max-width: 1600px;
  margin: 0 auto;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: $desktop) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  background-color: var(--hero-bg-color);
  text-align: center;

  background-image: linear-gradient(to bottom,
      var(--hero-gradient-color),
      var(--hero-gradient-color)), url(../images/mobile/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom,
        var(--hero-gradient-color),
        var(--hero-gradient-color)), url(../images/mobile/hero@2x.jpg);
  }

  @media screen and (min-width: $mobile) {
  background-image: linear-gradient(to bottom,
      var(--hero-gradient-color),
      var(--hero-gradient-color)), url(../images/tablet/hero.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom,
        var(--hero-gradient-color),
        var(--hero-gradient-color)), url(../images/tablet/hero@2x.jpg);
    }

  }
  
  @media screen and (min-width: $tablet) {
  background-image: linear-gradient(to bottom,
      var(--hero-gradient-color),
      var(--hero-gradient-color)), url(../images/desktop/hero.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom,
        var(--hero-gradient-color),
        var(--hero-gradient-color)), url(../images/desktop/hero@2x.jpg);
    }
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
  
    @media screen and (max-width: calc($mobile - 1px)) {
      max-width: 300px;
      @include fonts(20px, 900, 1.5, 0.06em);
    }    

    @media screen and (min-width: $mobile) {
      @include fonts(26px, 900, 1.615, 0.06em);
      width: 360px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 696px;
      @include fonts(44px, 900, 1.364, 0.06em);
    }

    // font-size: 44px;
    // font-weight: 900;
    // line-height: 1.364;
    // letter-spacing: 0.06em;
  }
}
