.team {
  background-color: var(--team-bg-color);
}

.team-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
  }
}

.team-list__item {
  width: 270px;
  background-color: var(--white-color);
  text-align: center;
  /* padding-bottom: 30px; */
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  
  
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  @media screen and (max-width: calc($tablet - 1px)) {
    margin: 0 auto $gap;
    // margin-bottom: $gap;
    }

    @media screen and (min-width: $mobile) {
      width: 450px;
      // height: 622px;
      padding-bottom: 24px;
    }
    
    @media screen and (min-width: $tablet) {
      width: 354px;
      // height: 536px;
      padding-bottom: 24px;
    }
    
    @media screen and (min-width: $desktop) {
      width: 270px;
      // height: 428px;
      padding-bottom: 30px;
    }

}




.team-list__img {
  margin-bottom: 30px;
}


.team-list__title {
  @include fonts(16px, 500, 1.188);
  // font-size: 16px;
  // font-weight: 500;
  // line-height: 1.188;

  margin-bottom: 10px;

  color: var(--title-text-color);
}

.team-list__text {
    @include fonts(16px, 400, 1.188);
  // font-size: 16px;
  // font-weight: 400;
  // line-height: 1.188;
  margin-bottom: 16px;
}